html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1REM = 10px */
    height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(0, 0, 0, 0.774);
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 40px;
    height: 100%;
}

#wrapper {
    min-height: calc(100% - 81px);
    position: relative;
}

#header { 
    grid-area: header;
    background-color: rgb(63, 63, 63);
    color: white;
    margin-bottom: 30px;
    height: 128px;
    width: 100%;
}

#header .container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header a {
    color: white;
    text-decoration: none;
}

a .logo {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: font-size 1s;
}

a .logo:hover {
    font-size: 25px;
}

.navigation {
    display: flex;
    justify-content: flex-end;
}

.navigation ul {
    list-style: none;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    padding: 10px 15px;
    transition: background-color 1s;
}

.container-nav {
    margin: 40px;
}

.navigation ul li a:hover {
    background-color: black;
}

#content {
    padding-bottom: 81px;
}

section#comienzos {
    grid-area: comienzos;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

.info-comienzos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info-comienzos h3 {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

section#primera-banda {
    grid-area: primera-banda;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

.info-primera h3 {
    display: flex;
    justify-content: center;
}

section#segunda-banda {
    grid-area: segunda-banda;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

.info-segunda h3 {
    display: flex;
    justify-content: center;
}

section#tercera-banda {
    grid-area: tercera-banda;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px;
    flex-direction: column;
}

.info-tercera {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-tercera p {
    margin: 30px;
}

h2 {
    text-align: center;
}

.btn-primary {
    background-color: rgb(63, 63, 63);
    border-color: white;
}

.btn-link {
    text-decoration: none;
    color: rgb(63, 63, 63);
    box-shadow: none;
}

.titulo-disco {
    margin-top: 5px;
}

.proximos-recitales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
}

.titulo-proximosr {
    text-align: center;
}

.titulo-proximosr span {
    font-style: italic;
}

.recitales {
    border: 1px solid black;
    width: 90%;
    margin: 10px auto;
}

.recitales a {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    text-decoration: none;
}

.recitales p, h4 {
    padding: 5px;
    text-transform: uppercase;
}

.contacto-caja {
    margin: 0px auto; 
    padding: 1.5rem;
}

.titulo-contacto {
    text-align: center;
    font-size: 4rem;
}

.contacto-caja {
    box-shadow: 0 0 15px 0 rgb(255, 255, 255, 4);
    color: white;
}

.contact {
    padding: 1rem;
    background-color: rgb(63, 63, 63);
}

.contact form {
    margin: 0;
    padding: 1rem;
}

.contact form button,
.contact form input,
.contact form textarea {
    width: 100%;
    padding: 1rem;
    border: none;
    background: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
}

.contact form button {
    background: white;
    color: black;
    text-transform: uppercase;
}

.info-sitio {
    padding: 1rem;
    background-color: rgb(63, 63, 63);
    text-align: center;
}

.footer {
    background-color: rgb(63, 63, 63);
    padding: 10px;
    width: 100%;
    bottom: 0;
    height: 81px;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-footer {
    text-align: center;
    text-decoration: none;
    color: white;
    transition: background-color 2s;
}

.container-footer a {
    text-decoration: none;
    color: white;
    transition: background-color 2s;
}

.container-footer a:hover {
    background-color: black;
}

@keyframes respawn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

.container-footer a:hover {
    background-color: black;
}

#grid-bio {
    display: grid;
    grid-template-areas:
    "header" 
    "comienzos"
    "primera-banda"
    "segunda-banda"
    "tercera-banda"
    "footer";
    grid-template-rows: 150px auto auto auto auto 100px;
    grid-row-gap: 5px;
    width: 100%;
    height: 100vh; 
}  

@media screen and (min-width: 768px) {
    #grid-bio {
        display: grid;
        grid-template-areas:
        "header" 
        "comienzos"
        "primera-banda"
        "segunda-banda"
        "tercera-banda"
        "footer";
        grid-template-rows: 150px auto auto auto auto 100px;
        grid-row-gap: 5px;
        width: 100%;
        height: 100vh; 
}
.logo {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 23px;
}
.info-comienzos h3 {
    padding-top: 0px;
}
.container-footer a {
    padding: 2px;
}
}

@media screen and (min-width: 1200px) {
    #grid-bio {
        display: grid;
        grid-template-areas:
        "header header" 
        "comienzos primera-banda"
        "comienzos segunda-banda"
        "tercera-banda tercera-banda"
        "footer footer";
        grid-template-columns: 50% 50%;
        grid-template-rows: 150px auto auto auto 100px;
        grid-column-gap: 5px;
}
    section#tercera-banda {
        flex-direction: row;
    }
}

@media screen and (max-width: 768px) {
    #header {
        height: 250px;
    }
    .info-comienzos {
        margin-top: 85px;
    }
}